<h3>Random Cat</h3>
<app-cat-category-select
    [catCategories]="catCategories$ | async" (selected)="selectedCategory($event)"></app-cat-category-select>
<app-cat-breed-select [breeds]=""></app-cat-breed-select>
<app-cat-refresh-button (refreshClicked)="refresh()"></app-cat-refresh-button>
<app-refresh-timer-button (newInterval)="setAutoRefreshActive($event)" (stopClicked)="setAutoRefreshInactive()"></app-refresh-timer-button>
<hr/>
<app-show-countdown
    *ngIf="(catConfigService.config$ | async).autoRefreshActive"></app-show-countdown>
<div>
    <img [src]="randomCatImage$ | async" style="max-width: 500px;max-height: 500px;">
</div>

