@import url('https://fonts.googleapis.com/css?family=Oswald');

.catangular {
    margin:0;
    padding: 15px;
    font-family: "Oswald", Helvetica Neue, serif;
    font-size: 12pt;
    color: #ff3333;
}

.catangular__title {
    font-size: 16pt;
}
